### Importando as Bibliotecas

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option("display.max_columns", 20)
import watermark

In [6]:
# Versões dos pacotes utilizados neste jupyter notebook
%reload_ext watermark
# %load_ext watermark
%watermark -a "Projeto - House Prices -- André Paes Dimitrov" --iversions
%watermark -n -t -z

Author: Projeto - House Prices -- André Paes Dimitrov

pandas    : 1.3.4
numpy     : 1.20.3
matplotlib: 3.4.3
watermark : 2.3.0

In [2]:
df = pd.read_csv('casas.csv')

In [3]:
df.head()

   tamanho   ano  garagem   preco
0    159.0  2003        2  208500
1    117.0  1976        2  181500
2    166.0  2001        2  223500
3    160.0  1915        3  140000
4    204.0  2000        3  250000

### Separando as colunas principais

In [4]:
df

      tamanho   ano  garagem   preco
0       159.0  2003        2  208500
1       117.0  1976        2  181500
2       166.0  2001        2  223500
3       160.0  1915        3  140000
4       204.0  2000        3  250000
...       ...   ...      ...     ...
1455    153.0  1999        2  175000
1456    193.0  1978        2  210000
1457    217.0  1941        1  266500
1458    100.0  1950        1  142125
1459    117.0  1965        1  147500

[1460 rows x 4 columns]

In [5]:
X = df.drop('preco', axis=1)

In [6]:
y = df['preco']

### Dividindo os dados em treino e teste.

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=42)

In [9]:
X_train.head()

      tamanho   ano  garagem
135     156.0  1970        2
1452    100.0  2005        2
762     144.0  2009        2
932     177.0  2006        3
435     154.0  1996        2

### Treinando o Modelo.

In [10]:
from sklearn.linear_model import LinearRegression

In [13]:
modelo = LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [14]:
modelo.fit(X_train, y_train)

C:\Users\andre\anaconda3\lib\site-packages\sklearn\linear_model\_base.py:148: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2. Please leave the normalize parameter to its default value to silence this warning. The default behavior of this estimator is to not do any normalization. If normalization is needed please use sklearn.preprocessing.StandardScaler instead.
  warnings.warn(

LinearRegression(normalize=False)

#### Os coeficientes da minha regressão linear

In [15]:
modelo.coef_

array([  830.00653222,   762.09006126, 25767.20537933])

#### Onde ele cruza na minha Regressão Linear - Regressão ajustada

In [16]:
modelo.intercept_

-1484640.8721676623

#### Testar o predict

In [17]:
modelo.predict([[120,2001,2]])

C:\Users\andre\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([191436.53503831])

#### Criado arquivo json para o método POST, para envio das informações via web e recebimento e predição das mesmas.

In [ ]:
{
    "tamanho":120,
    "ano":2001,
    "garagem":2
}

#### Salvando o Modelo como arquivo PKL.

In [18]:
import pickle

In [19]:
# Pegar a variável modelo e passar para um arquivo com permissão de escrita.
pickle.dump(modelo, open('modelo.sav', 'wb'))

In [12]:
import sklearn

print('The version of sklearn {}.'.format(sklearn.__version__))

The version of sklearn 1.0.2.

In [34]:
from flask_basicauth import BasicAuth

In [52]:
import sklearn

print('The version of sklearn {}.'.format(sklearn.__version__))

The version of sklearn 1.0.2.